/* ======================================================================*/
/* ========================== fyn-responsive ============================*/
/* ================ Estilos de maquetación No de estilos ===============*/
/* ======================================================================*/


/* ======================================
Estilos Generales
====================================== */
*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}
a{
    text-decoration: none;
}
nav ul,
nav li{
    list-style: none;
}
h1,
p{
    margin: 10px;
}



/* ======================================
Estilos 
====================================== */
:root{
    --max-width: 1200px;
    --padding-col: 2rem 0;

    --tamanio-child-col2: 50%;
    --tamanio-child-col3: 33.3%;
    --tamanio-child-col6: 15%;
}

/* Estilos a los padres
====================================== */
.NotFullWidth{
    max-width: var(--max-width);
    margin: auto;
}
.FullWidth{
    max-width: 100%;
}


/* Todos los que comienzan con la class [Col]
====================================== */
[class*="Col"]{
    padding: var(--padding-col);
    display: flex;
}
.Col-2,
.Col-3,
.Col-6{
    flex-wrap: wrap;
    justify-content: space-between;
}
.Col-1{
    flex-direction: column;
    align-items: center;
}

.Col-2 > *{
    width: var(--tamanio-child-col2);
}
.Col-3 > *{
    width: var(--tamanio-child-col3);
}
.Col-6 > *{
    width: var(--tamanio-child-col6);
}



@media screen and (max-width: 980px){
    .Col-2{
        justify-content: space-around;
    }
    :root{
        --padding-col: 2rem;
        --tamanio-child-col2: 80%;
        --tamanio-child-col3: 50%;
        --tamanio-child-col6: 30%;
    }
}
@media screen and (max-width: 520px){
    :root{
        --tamanio-child-col2: 100%;
        --tamanio-child-col3: 100%;
        --tamanio-child-col6: 50%;
    }
}